<!DOCTYPE html>
<html>
	<head>
		<title>rawr</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/res/fonts/Libertinus-Serif/import.css">
		<link rel="stylesheet" href="/res/fonts/Noto-Sans/import.css">
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>
		<nav>
			<div class="rr-logo">
				<span>RAWRMIL</span>
			</div>
			<div class="rr-horizontal-menu">
				<div class="rr-menu-link">
					<a href='<!--%c SSR_PRINT_LINK("/home"); %-->'>
						<span class="lang_en">home</span>
						<span class="lang_ru">главная</span>
					</a>
				</div>
				<div class="rr-menu-link">
					<a href='<!--%c SSR_PRINT_LINK("/about"); %-->'>
						<span class="lang_en">about</span>
						<span class="lang_ru">обо мне</span>
					</a>
				</div>
			</div>
			<div class="rr-menu-toggle">
				<label for="rr-menu-toggle">
					<span class="lang_en">MENU</span>
					<span class="lang_ru">МЕНЮ</span>
				</label>
			</div>
		</nav>
			<input type="checkbox" id="rr-menu-toggle">
			<div class="rr-menu-overlay">
				<div class="rr-menu-link">
					<a href='<!--%c SSR_PRINT_LINK("/home"); %-->'>
						<span class="lang_en">home</span>
						<span class="lang_ru">главная</span>
					</a>
				</div>
				<div class="rr-menu-link">
					<a href='<!--%c SSR_PRINT_LINK("/about"); %-->'>
					<a href='<!--%c SSR_PRINT_LINK("/about"); %-->'>
						<span class="lang_en">about</span>
						<span class="lang_ru">обо мне</span>
					</a>
					</a>
				</div>
			</div>
