<!DOCTYPE html>
<html>
	<head>
		<title>rawr</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/res/fonts/Libertinus-Serif/import.css">
		<link rel="stylesheet" href="/res/fonts/Noto-Sans/import.css">
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>
		<nav>
			<div class="r_logo">
				<span>R4WMIL</span>
			</div>
			<div class="r_hmenu">
				<div class="r_menu_link">
					<a href='/'>
						<span class="lang_en">home</span>
						<span class="lang_ru">главная</span>
					</a>
				</div>
				<div class="r_menu_link">
					<a href='/about'>
						<span class="lang_en">about</span>
						<span class="lang_ru">обо мне</span>
					</a>
				</div>
			</div>
			<div class="r_menu_toggle">
				<label for="r_menu_toggle">
					<span class="lang_en">MENU</span>
					<span class="lang_ru">МЕНЮ</span>
				</label>
			</div>
		</nav>
			<input type="checkbox" id="r_menu_toggle">
			<div class="r_menu_overlay">
				<div class="r_menu_link">
					<a href='/'>
						<span class="lang_en">home</span>
						<span class="lang_ru">главная</span>
					</a>
				</div>
				<div class="r_menu_link">
					<a href='/about'>
						<span class="lang_en">about</span>
						<span class="lang_ru">обо мне</span>
					</a>
				</div>
			</div>
